<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxi_book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taxi_book">
        <activity android:name=".RProfileActivity"></activity>
        <activity android:name=".RConfirmDetails" />
        <activity android:name=".RBookingDetailsActivity" />
        <activity android:name=".ARidersDetailsActivity" />
        <activity android:name=".DriverDataActivity" />
        <activity android:name=".AdriversActivity" />
        <activity android:name=".AvehicleviewActivity" />
        <activity android:name=".AallocationdetailsActivity" />
        <activity android:name=".AcancelActivity" />
        <activity android:name=".AallocationActivity" />
        <activity android:name=".AridesActivity" />
        <activity android:name=".AvehicleActivity" />
        <activity android:name=".AcontactActivity" />
        <activity android:name=".AsettingActivity" />
        <activity android:name=".AdashboardActivity" />
        <activity android:name=".ANavbarActivity" />
        <activity android:name=".ALoginActivity" />
        <activity android:name=".RSettingActivity" />
        <activity android:name=".RShareActivity" />
        <activity android:name=".RDisplayDetailsActivity" />
        <activity android:name=".RiderDashBoardActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>